fastapi==0.111.1
uvicorn[standard]==0.30.1
sqlalchemy==2.0.31
aiosqlite==0.20.0
python-multipart==0.0.9
plotly==5.22.0
kaleido==0.2.1
pillow==10.4.0
pandas==2.2.2
numpy==2.0.1
aiofiles==23.2.1
pydantic==2.8.2
httpx==0.27.0
